/* ------------------------------
   ESTILOS ESPECÍFICOS DEL LOGIN
   ------------------------------*/

   /* El fondo oscuro que cubre toda la pantalla */
.login-wrapper {
    height: 100vh; 
    width: 100%;
    background-color: #121212; 
    
    
    display: flex; 
    justify-content: center; 
    align-items: center;     
}

/* La tarjeta blanca */
.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

/* Estilos del texto del logo en el login */
.login-header h2 {
    color: #0d2706; 
    margin-bottom: 5px;
    font-size: 2rem;
}
.login-header span { color: #27ae60; } 
.login-header p { color: #666; margin-bottom: 20px; }

/* Los inputs (cajas de texto) */
.input-group {
    margin-bottom: 15px;
    text-align: left; 
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* El botón  */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #219150;
}

/* El mensaje de error */
.error-hidden {
    display: none; 
    color: red;
    margin-top: 15px;
    font-size: 0.9rem;
}

.error-visible {
    display: block; 
}